.radio{ float: left; }

div .calender {
width: 680px;
float: left;
margin-left: 15px;

}

div #sidebar {
width: 400px;
float: left;
}

div .main{
border-left: 1px solid #666;
height : 700px;
}

div .toppic{
    font-size: 45px;
    font-family: Futura, Century Gothic, myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    text-align: center;
    color: #e32;

}

.now_time{
    font-size: 20px;
    font-family: Futura, Century Gothic, myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    text-align: center;
}

.stats{
    padding-left:20px;
}

table {
    border-right: 1px solid !important;
}